.container{
    margin-top: 20px;
    color: #808080;
    margin-left: -4px;
    width: 400px;
    background-color: #bc4639;
    display: flex;
    align-items:center;
}
.StatusIcon{
    width: 40px;
    height: 40px;
}
.status{
    margin-left: 10px;
    font-size: 20px;
    color: #282828;
}
.inputStatus{
    border: none;
    width: 200px;
    font-size: 20px;
    background: #DAAD86;
    border-radius: 8px;
}


