.container{
    height: 100px;
    width: 49%;
    margin-bottom: 5px;
    -webkit-transition: background-color 0.5s;
    background-color: #fbfcfc;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.dialog-ava{
    margin-left: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.container:hover{
    background-color: #e8e8e8;
}
