.container{
    margin-top: 50px;
    display: grid;
    margin-left: 15%;
    width: 70%;
    min-height: 900px;
    grid-template-areas:
    "profInfo posts"
    "contact posts";
    grid-template-rows: 520px 400px;
    grid-template-columns: 420px 500px;
}

