.container{
    margin-top: 50px;
    display: grid;
    margin-left: 15%;
    width: 70%;
    min-height: 900px;
    grid-template-areas:
    "profInfo profInfo"
    "posts contact";
    grid-template-rows: 300px 400px;
}

