.container{
    min-width: 600px;
    max-width: 600px;
    height: 90%;
    display: flex;
    padding: 10px;
    padding-left: 20px;
    flex-direction: column;
    background-color: white;
    margin-top: 60px;
    margin-left: 450px;
    border-radius: 10px;
}



