.message{
    border-radius: 10px 10px 10px 0;
    background-color: #0d6efd;
    height: 40px;
    min-width: 80px;
    max-width: 300px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.ava{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -15px;
    margin-right: 10px;
}
.authAva{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -15px;
    margin-left: 10px;
}
.authMessage{
    border-radius: 10px 10px 0 10px;
    background-color: #e8e8e8;
    height: 40px;
    min-width: 80px;
    max-width: 300px;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
}
.otherSender{
    display: flex;
    justify-content:flex-start;
    margin-bottom: 20px;
    margin-left: -10px;
}
.authSender{
    display: flex;
    justify-content:flex-end;
    margin-bottom: 20px;
}
