.form{
    display: flex;
    margin-bottom: 10px;
    width: 650px;
    background-color: #fbfcfc;
    border-radius: 10px;
}
.ava{
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    grid-area: ava;
}
.container{
    width: 650px;
    margin-top: 2%;
    grid-area: posts;
    border-radius: 10px;
}
.field{
    resize: none;
    outline: none;
    border: none;
    color: black;
    height: 50px;
    width: 560px;
    padding-left: 10px;
    padding-top: 11px;
    background-color: #fbfcfc;
    border-radius: 10px;
}
.but{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    background-color: white;
}
.send-icon{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
