.container{
    height: 100px;
    margin-bottom: 10px;
    -webkit-transition: background-color 0.5s;
}
.ava{
    margin-left: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.container:hover{
    background-color: #e8e8e8;
}
