.messages {
    grid-area: message;
    background-color: #fbfcfc;
    margin-top: 50px;
    padding-top: 20px;
    width: 650px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    flex-direction:column;
}

.field{
    outline: none;
    border: none;
    color: black;
    height: 50px;
    width: 600px;
    padding-left: 20px;
    padding-top: 11px;
    background-color: #fbfcfc;
    border-radius: 10px;
}
.error{
     color: red;
     font-size: 20px;
     margin-top: -9px;
     margin-left: 10px;
 }
.container{
    margin-left: 25%;
    display: grid;
    grid-template-areas:
    "message" "form";
    grid-template-rows: 680px 60px;
}
.form{
    display: flex;
    margin-bottom: 10px;
    width: 650px;
    background-color: #fbfcfc;
    border-top: 1px solid #e7e9eb;
    border-radius: 0 0 10px 10px;
    grid-area: form;
}
.but{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    background-color: white;
}
.send-icon{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
