.nav{
    border-radius: 10px;
    grid-area: nav;
    padding-left: 20px;
    padding-top: 30px;
    display: block;
    background: #f3e0dc;
    width: 170px;
    height: 600px;
}
.item{
    padding-left: 15px;
    color: #383838;
    text-decoration:none;
    font-size: 20px;
}
.icon{
    width: 30px;
    height: 30px;
}
.navLink{
    padding-bottom: 10px;
    display:flex;
    align-items:center;
}
