.nav{
    margin-top: 30px;
    border-radius: 10px;
    grid-area: nav;
    padding-left: 20px;
    padding-top: 30px;
    display: block;
    background: white;
    width: 170px;
    height: 600px;
}
.ava{
    width: 125px;
    border-left: 7px;
    height: 125px;
    border-radius: 50%;
}
.item{
    padding-left: 15px;
    color: #383838;
    text-decoration:none;
    font-size: 20px;
}
.icon{
    width: 30px;
    height: 30px;
}
.navLink{
    padding-top: 10px;
    display:flex;
    align-items:center;
}
