.descriptionBlock{
    padding-left: 50px;
    padding-top: 25px;
    grid-area: info;
}
.ava{
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
    grid-area: ava;
}
.container{
    display: grid;
    grid-area: profInfo;
    grid-template-areas:"ava" "info";
    grid-template-columns: 500px;
    grid-template-rows: 450px 400px;
    color: #808080;
    background-color: #bc4639;
}
.name{
    display: block;
    font-size: 30px;
    color: black;
}


