.container{
    grid-area: profInfo;
    width: 1100px;
    height: 300px;
    border-radius: 15px;
    background-color: #bee5ec;
    display: flex;
    align-items: flex-end;
}
.side{
    background-color: #fbfcfc;
    width: 1100px;
    height: 150px;
    grid-template-areas:"ava info"
                        "connection info";
    border-radius: 15px;
}
.description{
    margin-top: -80px;
    margin-left: 320px;
    grid-area: info;
}
.status{
    margin-left: 10px;
    font-size: 20px;
}
.connection{
    color: black;
    margin-left: 120px;
    font-size: 20px;
    grid-area: connection;
}
.spanStatus{
    max-width: 360px;
}
.ava-container{
    margin-top: -10%;
    margin-left: 8%;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    grid-area: ava;
    display: block;
    background-color: #fbfcfc;
    border-radius: 50%;
}
.ava{
    margin: 10px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.name{
    display: block;
    font-size: 37px;
    color: black;
}

