.container {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
}
.field{
    width: 100%;
    font-size: 20px;
    height: 100px;
    padding: 6px 0 4px 10px;
    border: none;
    background-color: #FBE8A6;
    border-radius: 8px;
    margin-bottom: 10px;
}
.messages{
    width: 70%;
}
.form{
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.ButtonBoot{
    color: #FBE8A6;
    margin-left: 10px;
    border: 1px solid #FBE8A6;
}
.ButtonBoot:hover{
    background-color: #FBE8A6;
    color: #bc4639;
}

