.registration{
    height: 500px;
    background-color: white;
}
.block{
    margin-top: 30px;
    height: 190px;
    grid-area: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(90deg, rgba(52,46,153,1) 0%, rgba(50,50,214,1) 14%, rgba(0,212,255,1) 100%);
}
.formik{
    padding-left: 450px;
    padding-top: 100px;
}
.error{
    color: red;
    font-size: 20px;
    margin-top: -9px;
    margin-left: 10px;
}
.name{
    color: black;
}
.itemField{
    display:flex;
    align-items:center;
}
.field{
    outline:none;
    width: 200px;
    border: 1px solid #0d6efd;
    font-size: 20px;
    padding: 6px 0 4px 10px;
    background: #e8e8e8;
    border-radius: 8px;
    margin-bottom: 10px;
}
.UserIcon{
    width: 37px;
    padding-bottom: 10px;
    margin-right: 5px;
}
.LockIcon{
    width: 40px;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-right: 2px;
}
.but{
    margin-top: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 5px;
    background-color: #0d6efd;
    display:flex;
    align-items:center;
    border: none;
    height: 40px;
    width: 90px;
    margin-right: 50px;
    justify-content:center;
    text-decoration:none;
    color: white;
    font-size: 20px;
}
.EmailIcon{
    width: 40px;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-right: -1px;
}
.NameIcon{
    width: 40px;
    padding-bottom: 10px;
    padding-right: 3px;
    margin-right: 0px;
}
